# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
desktop.ini

# Large data files (too big for GitHub, ignored per Option 1)
*.xlsx

# Temp files
*.tmp
*_temp.*
~$*
